@page "/resume"

<PageTitle>Home</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">

    <MudText Typo="Typo.h3" Class="mt-8">Experience</MudText>

    <MudText Typo="Typo.h4" Class="mt-2">Skills</MudText>
    <MudText Class="ml-5">
    <ul>
        <li id='skills-list-item'>Python</li>
        <li id='skills-list-item'>Azure</li>
        <li id='skills-list-item'>Git</li>
        <li id='skills-list-item'>DevOps</li>
        <li id='skills-list-item'>Bicep</li>
        <li id='skills-list-item'>Ansible</li>
        <li id='skills-list-item'>Docker</li>
        <li id='skills-list-item'>C++</li>
        <li id='skills-list-item'>C#/.Net</li>
    </ul>
    </MudText>

    <MudText Typo="Typo.h4" Class="mt-5">Staff Engineer</MudText>
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudText Typo="Typo.h5">Synopsys</MudText>
        </MudItem>
        <MudItem xs="12" sm="6" Class="d-flex justify-end">
            <MudText Typo="Typo.h5">Nov 2025 - Present</MudText>
        </MudItem>
    </MudGrid>

    <MudText Typo="Typo.h4" Class="mt-5">Quantum Software Engineer</MudText>
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudText Typo="Typo.h5">Microsoft</MudText>
        </MudItem>
        <MudItem xs="12" sm="6" Class="d-flex justify-end">
            <MudText Typo="Typo.h5">Jul 2023 - Nov 2025</MudText>
        </MudItem>
    </MudGrid>
    <MudText Class="ml-5">
    <ul>
        <li>Developed a transpiler to provide a simple interface, including implementing IntelliSense and providing static analysis via a VSCode extension in C#.</li>
        <li>Increased the throughput of Accelerated DFT service 10x by batching jobs for optimal processing, modifying the full stack from the Azure SDK to the service backend.</li>
        <li>Developed DevOps tools for a platform as a service that included using Ansible, Bicep, ARM Templates, Python, and Bash scripts.</li>
        <li>Administered clusters of Linux servers on behalf of customers and provided direct support to scientists using the platform.</li>
        <li>Updated telemetry to increase observability of jobs being processed by the service.</li>
        <li>Collaborated with cross-functional teams, fostering innovation and efficiency for Azure Quantum.</li>
    </ul>
    </MudText>

    <MudText Typo="Typo.h4" Class="mt-5">Computational Chemistry Cloud Admin/Dev</MudText>
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudText Typo="Typo.h5">Microsoft - Contract (Protingent Inc.)</MudText>
        </MudItem>
        <MudItem xs="12" sm="6" Class="d-flex justify-end">
            <MudText Typo="Typo.h5">Apr 2022 - Jul 2023</MudText>
        </MudItem>
    </MudGrid>
    <MudText Typo="Typo.h6">Redmond, Washington, United States</MudText>
    <MudText Class="ml-5">
    <ul>
        <li>Automated complex workflows in a cloud-native environment, including one that was used in the demonstration of the world’s first logical qubit.</li>
        <li>Wrote Aiida plugins in Python for the robust implementation of scientific workflows.</li>
        <li>Implemented CI/CD pipelines in Azure DevOps using Azure Pipelines and Docker to distribute a large library of Python and C++ applications.</li>
        <li>Developed Docker images to facilitate cross-platform deployment of scientific packages.</li>
        <li>Facilitated technology transfer of state-of-the-art software to a cloud-native environment.</li>
        <li>Developed Python-based recipes for building scientific packages using Spack.</li>
    </ul>
    </MudText>

    <MudText Typo="Typo.h4" Class="mt-5">Postdoctoral Researcher</MudText>
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudText Typo="Typo.h5">University of Washington</MudText>
        </MudItem>
        <MudItem xs="12" sm="6" Class="d-flex justify-end">
            <MudText Typo="Typo.h5">Jul 2020 - Apr 2022</MudText>
        </MudItem>
    </MudGrid>
    <MudText Typo="Typo.h6">Seattle, Washington, United States</MudText>
    <MudText Class="ml-5">
    <ul>
        <li>Collaborated with a team of roughly 20 developers on an open-source software package (Chronus Quantum) using
            Git, CMake, and Google Tests.</li>
        <li>The code can be found at: <a
                href="https://github.com/xsligroup/chronusq_public" target='_blank'>chronusq</a>.
        </li>
        <li>Presented at bi-weekly code maintenance meetings to discuss code integration.</li>
        <li>Lead and supervised graduate students in innovative research projects leading to both publications and new
            software.</li>
        <li>Designed and implemented general complex algorithms for scientific computation using object-oriented
            programming, high performance libraries and data structures from the C++ Standard library.</li>
        <li>Completed independent scientific research projects on novel computational methods.</li>
        <li>Implemented a constrained nonlinear optimization algorithm that led to more than 10 times the number of
            states to be computable.</li>
        <li>Increased the performance of an algorithm by 1.6 times using a novel screening technique.</li>
        <li>Refactored more than 2000 lines of code for a core component so that it can simultaneously be used for more
            than 4 disparate methods by designing a more generalized interface.</li>
        <li>Implemented software in a variety of programming environments including Linux and MacOS.</li>
    </ul>
    </MudText>

    <MudText Typo="Typo.h4" Class="mt-5">Postdoctoral Researcher</MudText>
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudText Typo="Typo.h5">Jilin University</MudText>
        </MudItem>
        <MudItem xs="12" sm="6" Class="d-flex justify-end">
            <MudText Typo="Typo.h5">Jun 2018 - Jul 2020</MudText>
        </MudItem>
    </MudGrid>
    <MudText Typo="Typo.h6">Changchun, Jilin, China</MudText>
    <MudText Class="ml-5">
    <ul>
        <li>Performed initial implementation of the constrained optimization algorithm in Chronus Quantum.</li>
        <li>Designed and implemented a scalable data pipeline for the analysis of molecular simulation data.</li>
        <li>Implemented computational methods using Fortran into a large software package (CHARMM) that enabled the
            computation of millions of data points.</li>
        <li>Derived novel algorithms for the calculation of matrix elements that properly include physical symmetry.
        </li>
        <li>Performed data analysis on data sets (10GB-1TB) using both Fortran and Perl.</li>
    </ul>
    </MudText>

    <MudText Typo="Typo.h3" Class="mt-8">Education</MudText>
    <MudText Typo="Typo.h4" Class="mt-2">University of Minnesota</MudText>
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudText Typo="Typo.h5">Ph.D.</MudText>
        </MudItem>
        <MudItem xs="12" sm="6" Class="d-flex justify-end">
            <MudText Typo="Typo.h5">2013 - 2018</MudText>
        </MudItem>
    </MudGrid>

    <MudText Typo="Typo.h6">Minneapolis, Minnesota, United States</MudText>
    <p>Thesis Title: Development of Multistate Density Functional Theory for Photochemistry and Vibrational Dynamics Using Quantum Vibration Perturbation Theory</p>

    <MudText Typo="Typo.h4" Class="mt-5">University of Minnesota</MudText>
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudText Typo="Typo.h5">M.S.</MudText>
        </MudItem>
        <MudItem xs="12" sm="6" Class="d-flex justify-end">
            <MudText Typo="Typo.h5">2013 - 2015</MudText>
        </MudItem>
    </MudGrid>
    <MudText Typo="Typo.h6">Minneapolis, Minnesota, United States</MudText>

    <MudText Typo="Typo.h4" Class="mt-5">Philadelphia University (now Thomas Jefferson University)</MudText>
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudText Typo="Typo.h5">B.S.</MudText>
        </MudItem>
        <MudItem xs="12" sm="6" Class="d-flex justify-end">
            <MudText Typo="Typo.h5">2008 - 2012</MudText>
        </MudItem>
    </MudGrid>
    <MudText Typo="Typo.h6">Philadelphia, Pennsylvania, United States</MudText>

    <MudText Typo="Typo.h3" Class="mt-8">Publications</MudText>
    <MudText Class="ml-8">
    <ol>
        <li>
            Bylaska, E. J.; Panyala, A.; Bauman, N. P.; Peng, B.; Pathak, H.; Mejia-Rodriguez, D.; Govind, N.; 
            Williams-Young, D. B.; Aprà, E.; Bagusetty, A.; Mutlu, E.; Jackson, K. A.; Baruah, T.; Yamamoto, Y.; 
            Pederson, M. R.; Withanage, K. P. K.; Pedroza-Montero, J. N.; Bilbrey, J. A.; Choudhury, S.; Firoz, J.; 
            Herman, K. M.; Xantheas, S. S.; Rigor, P.; Vila, F. D.; Rehr, J. J.; Fung, M.; Grofe, A.; Johnston, C.; 
            Baker, N.; Kaneko, K.; Liu, H.; Kowalski, K. Electronic Structure Simulations in the Cloud Computing Environment. 
            J. Chem. Phys. 2024, 161 (15). 
            <MudLink Href='https://doi.org/10.1063/5.0226437' target='_blank'>https://doi.org/10.1063/5.0226437</MudLink>.
        </li>
        <li>
            Unsleber, J. P.; Liu, H.; Talirz, L.; Weymuth, T.; Mörchen, M.; Grofe, A.; Wecker, D.; Stein, C. J.;
            Panyala, A.; Peng, B.; Kowalski, K.; Troyer, M.; Reiher, M. High-Throughput Ab Initio Reaction Mechanism
            Exploration in the Cloud with Automated Multi-Reference Validation. J. Chem. Phys. 2023, 158 (8), 084803
            <MudLink Href='https://doi.org/10.1063/5.0136526' target='_blank'>https://doi.org/10.1063/5.0136526</MudLink>.
        </li>

        <li>
            Grofe, A.; Li, X. Relativistic Nonorthogonal Configuration Interaction: Application to L2,3-Edge X-Ray
            Spectroscopy. Phys. Chem. Chem. Phys. 2022
            <MudLink Href='https://doi.org/10.1039/D2CP01127A' target='_blank'>https://doi.org/10.1039/D2CP01127A</MudLink>.
        </li>

        <li>
            Zhao, R.; Shirley, J. C.; Lee, E.; Grofe, A.; Li, H.; Baiz, C. R.; Gao, J. Origin of Thiocyanate Spectral
            Shifts in Water and Organic Solvents. J. Chem. Phys. 2022, 156 (10), 104106
            <MudLink Href='https://doi.org/10.1063/5.0082969' target='_blank'>https://doi.org/10.1063/5.0082969</MudLink>.
        </li>

        <li>
            Grofe, A.; Zhao, R.; Wildman, A.; Stetina, T. F.; Li, X.; Bao, P.; Gao, J. Generalization of Block-Localized
            Wave Function for Constrained Optimization of Excited Determinants. J. Chem. Theory Comput. 2021, 17,
            277–289
            <MudLink Href='https://doi.org/10.1021/acs.jctc.0c01049' target='_blank'>https://doi.org/10.1021/acs.jctc.0c01049</MudLink>.
        </li>

        <li>
            Cong, Y.; Zhai, Y.; Yang, J.; Grofe, A.; Gao, J.; Li, H. Quantum Vibration Perturbation Approach with
            Polyatomic Probe in Simulating Infrared Spectra. Phys. Chem. Chem. Phys. 2021.
            <MudLink Href='https://doi.org/10.1039/d1cp04490g' target='_blank'>https://doi.org/10.1039/d1cp04490g</MudLink>.
        </li>

        <li>
            Han, J.; Grofe, A.; Gao, J. Variational Energy Decomposition Analysis of Charge-Transfer Interactions
            between Metals and Ligands in Carbonyl Complexes. Inorg. Chem. 2021.
            <MudLink Href='https://doi.org/10.1021/acs.inorgchem.1c01367' target='_blank'>https://doi.org/10.1021/acs.inorgchem.1c01367</MudLink>.
        </li>

        <li>
            Zhao, R.; Grofe, A.; Wang, Z.; Bao, P.; Chen, X.; Liu, W.; Gao, J. Dynamic-Then-Static Approach for Core
            Excitations of Open-Shell Molecules. J. Phys. Chem. Lett. 2021, 7409–7417 
            <MudLink Href='https://doi.org/10.1021/acs.jpclett.1c02039' target='_blank'>https://doi.org/10.1021/acs.jpclett.1c02039</MudLink>.
        </li>

        <li>
            Grofe, A.; Gao, J.; Li, X. Exact-Two-Component Block-Localized Wave Function: A Simple Scheme for the
            Automatic Computation of Relativistic ΔSCF. J. Chem. Phys. 2021, 155 (1), 014103
            <MudLink Href='https://doi.org/10.1063/5.0054227' target='_blank'>https://doi.org/10.1063/5.0054227</MudLink>.
        </li>

        <li>
            Yang, L.; Grofe, A.; Reimers, J. R.; Gao, J. Source Code, Input Data, and Sample Output Concerning the
            Application of Multistate Density Functional Theory to the Singdoublet and Tripdoublet States of the
            Ethylene Cation. Data in Brief 2020, 28.
            <MudLink Href='https://doi.org/10.1016/j.dib.2019.104984' target='_blank'>https://doi.org/10.1016/j.dib.2019.104984</MudLink>.
        </li>

        <li>
            Yin, H.; Li, H.; Grofe, A.; Gao, J. Active-Site Heterogeneity of Lactate Dehydrogenase. ACS Catal. 2019, 9
            (5), 4236–4246
            <MudLink Href='https://doi.org/10.1021/acscatal.9b00821' target='_blank'>https://doi.org/10.1021/acscatal.9b00821</MudLink>.
        </li>

        <li>
            Yang, L.; Grofe, A.; Reimers, J.; Gao, J. Multistate Density Functional Theory Applied with 3 Unpaired
            Electrons in 3 Orbitals: The Singdoublet and Tripdoublet States of the Ethylene Cation. Chem. Phys. Lett.
            2019, 736 (August). <MudLink Href='https://doi.org/10.1016/j.cplett.2019.136803' target='_blank'>https://doi.org/10.1016/j.cplett.2019.136803</MudLink>.
        </li>

        <li>
            Liu, M.; Chen, X.; Grofe, A.; Gao, J. Diabatic States at Construction (DAC) through Generalized Singular
            Value Decomposition. J. Phys. Chem. Lett. 2018, 6038–6046
            <MudLink Href='https://doi.org/10.1021/acs.jpclett.8b02472' target='_blank'>https://doi.org/10.1021/acs.jpclett.8b02472</MudLink>.
        </li>

        <li>
            Grofe, A.; Qu, Z.; Truhlar, D. G.; Li, H.; Gao, J. Diabatic-At-Construction Method for Diabatic and
            Adiabatic Ground and Excited States Based on Multistate Density Functional Theory. J. Chem. Theory Comput.
            2017, 13, 1176–1187
            <MudLink Href='https://doi.org/10.1021/acs.jctc.6b00733' target='_blank'>https://doi.org/10.1021/acs.jctc.6b00733</MudLink>.
        </li>

        <li>
            Olson, C. M.; Grofe, A.; Huber, C. J.; Spector, I. C.; Gao, J.; Massari, A. M.; Olson, C. M.; Grofe, A.;
            Huber, C. J.; Spector, I. C.; Gao, J. Enhanced Vibrational Solvatochromism and Spectral Diffusion by
            Electron Rich Substituents on Small Molecule Silanes Enhanced Vibrational Solvatochromism and Spectral
            Diffusion by Electron Rich Substituents on Small Molecule Silanes. J. Chem. Phys. 2017, 147, 124302
            <MudLink Href='https://doi.org/10.1063/1.5003908' target='_blank'>https://doi.org/10.1063/1.5003908</MudLink>.
        </li>

        <li>
            Grofe, A.; Chen, X.; Liu, W.; Gao, J. Spin-Multiplet Components and Energy Splittings by Multistate Density
            Functional Theory. J. Phys. Chem. Lett. 2017, 8 (19), 4838–4845
            <MudLink Href='https://doi.org/10.1021/acs.jpclett.7b02202' target='_blank'>https://doi.org/10.1021/acs.jpclett.7b02202</MudLink>.
        </li>

        <li>
            Gao, J.; Grofe, A.; Ren, H.; Bao, P. Beyond Kohn-Sham Approximation: Hybrid Multistate Wave Function and
            Density Functional Theory. J. Phys. Chem. Lett. 2016, 7, 5143–5149
            <MudLink Href='https://doi.org/10.1021/acs.jpclett.6b02455' target='_blank'>https://doi.org/10.1021/acs.jpclett.6b02455</MudLink>.
        </li>

        <li>
            Xue, R.-J. J. R.-J. R. J.; Grofe, A.; Yin, H. H.; Qu, Z.; Gao, J.; Li, H. Perturbation Approach for
            Computing Infrared Spectra of the Local Mode of Probe Molecules. J. Chem. Theory Comput. 2016, 13 (1),
            191–201
            <MudLink Href='https://doi.org/10.1021/acs.jctc.6b00733' target='_blank'>https://doi.org/10.1021/acs.jctc.6b00733</MudLink>.
        </li>
    </ol>
    </MudText>

</MudContainer>

@code {

}
